<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Screen</title>
</head>
<body>
<h1>Login Screen</h1>
    <form action="/babysitter/inputBabysitterInfo" method="POST">
        <button type="submit">Register Become a sitter</button>
    </form>
    <form action="/family/inputFamilyInfo" method="POST">
        <button type="submit">Register Family</button>
    </form>
    <form action="/login" method="POST">
        <button type="submit">Login</button>
    </form>
</body>
</html>